body {
    background-color: #cfcfcf;
  }
  .container {
    margin-top: 50px;
    max-width: 1200px;  /* adjusted the max-width to fit more cards */
  }
  .card {
    margin-top: 20px;
  }
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .preview-img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
  }
  .pre-uploaded-images img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid transparent;
    object-fit: cover;
  }
  .pre-uploaded-images img.selected {
    border-color: #007bff;
  }
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .badge {
    font-size: 1rem;
  }
  .badge-green {
    background-color: #0fc73a;
  }
  .badge-red {
    background-color: #dc3545;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .product-card {
    width: calc(25% - 20px);  /* adjusted the width to fit 4 cards per row */
    margin: 10px;
  }
  .product-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }